.input,
.output {
    width: 4em;
    height: 4em;
    display: inline-block;
}

.record {
    max-width: 60em;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.inputs,
.outputs {
    padding: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.outputs {
    margin-left: 12px;
}

.output {
    margin-right: 4px;
}

.inputs {
    max-width: 12em;
}
